[Unit]
Description=telegram avatar alteration timer

[Timer]
OnCalendar=minutely
Unit=tg-avatar-alteration.service

[Install]
WantedBy=multi-user.target

